<aside>
	<div class="panel radius">
		<p>
Obtain your הϵѻMCEdit static binary and sources today by issuing a $20 or €15 payment to:<br/>
<p>
– <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=D54B3S7C6HGME">
PayPal
</a>,
</p>
<p>
– bank account (given by IBAN – <a href="mailto:sgniazdowski@gmail.com">contact</a> me),
</p>
<p>
– BitCoin (contact me for the address),
</p>
<p>
– or <a href="https://github.com/sponsors/psprint">GitHub sponsors</a>.
</p>

Don't forget to include your email in the title of the payment.

		</p>
	</div>
	<div class="panel radius">
		<h4>The classes of הϵѻ-features</h4>
		<p>
		Here are the feature-describing terms (used in e.g.:
		posts subheadlines) explained:
		<p>
		1. "הϵѻteric" – a regular, normal new feature (first level),
		</p>
		<p>
		2. "הϵѻteric<b>²</b>" – an advanced, not trivial feature (level 2),
		</p>
		<p>
		3. "הϵѻteric<b>³</b>" – a prominent, possibly unfound 
		anywhere else feature (level 3).
		</p>
	</div>



</aside>
