<aside>
	<div class="panel radius">
		<p>
Obtain your הϵѻMCEdit static binary and sources today by issuing a $20 or €15 payment to:<br/>
<p>
– <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=D54B3S7C6HGME">
PayPal
</a>,
</p>
<p>
– bank account (given by IBAN – <a href="mailto:sgniazdowski@gmail.com">contact</a> me),
</p>
<p>
– BitCoin (contact me for the address),
</p>
<p>
– or <a href="https://github.com/sponsors/psprint">GitHub sponsors</a>.
</p>

Don't forget to include your email in the title of the payment.

		</p>
	</div>
	<div class="panel radius">
		<h4>The Levels Of הϵѻ-Features</h4>
		<p>
		Here are the feature-describing attributes explained:
		</p>
		<p>
		1. "הϵѻteric" – a regular, normal new feature (first level),
		</p>
		<p>
		2. "הϵѻteric<b style="font-size:1.2em">²</b>" – an advanced, not trivial feature existing
		also in other editors (level 2),
		</p>
		<p>
		3. "הϵѻteric<b style="font-size:1.2em">³</b>" – a prominent, possibly unfound 
		anywhere else feature (level 3).
		</p>

<p>

Basically, the levels measure how innovative a feature is, so that
users might have a possibility to initially easily know just "how
much" could they expect from a highlighted feature, and I would be
able to better prioritize them (when programming).

</p>

	</div>



</aside>
